---
import {getNextRaceData} from '../api/schedule'
const {season, round, Races: races} = await getNextRaceData();
const dateString = `${races[0].date} ${races[0].time}`
import Spinner from '../components/Spinner.astro'
---

<next-race-info id="clock" data-time={dateString} transition:persist>
    <p id="date">{races[0].date}</p>
    <div id="time"><Spinner /></div>
</next-race-info>


<script is:inline>
document.addEventListener('astro:page-load', () => {
    class NextRaceInfo extends HTMLElement {
        constructor() {
            super();
            const component = this;
            this.time = new Date(this.dataset.time);
            this.remainingMs = this.time - new Date();
            this.updateTime(component);
            this.timerID = setInterval(() => this.updateTime(component), 1000);
        }

        updateTime(nextRaceInfo) {
            const time = document.getElementById('time');
            if (time) {
                nextRaceInfo.remainingMs -= 1000;
                nextRaceInfo.querySelector('#time').innerHTML = dhm(nextRaceInfo.remainingMs);
            } else {
                clearInterval(nextRaceInfo.timerID)
            }
        };
    }
    customElements.get('next-race-info') || customElements.define('next-race-info', NextRaceInfo);

}, { once: true })


function zeroPadding(num, digit) {
    var zero = '';
    for (var i = 0; i < digit; i++) {
        zero += '0';
    }
    return (zero + num).slice(-digit);
}

function dhm(ms) {
    const days = Math.floor(ms / (24 * 60 * 60 * 1000));
    const daysms = ms % (24 * 60 * 60 * 1000);
    const hours = Math.floor(daysms / (60 * 60 * 1000));
    const hoursms = ms % (60 * 60 * 1000);
    const minutes = Math.floor(hoursms / (60 * 1000));
    const minutesms = ms % (60 * 1000);
    const sec = Math.floor(minutesms / 1000);
    return zeroPadding(days) + " days " + zeroPadding(hours, 2) + ":" + zeroPadding(minutes, 2) + ":" + zeroPadding(sec, 2);
}

</script>

<style>

p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    #time {
        letter-spacing: 0.05em;
        font-size: 5vw;
        padding: 5px 0;
    }
    #date {
        letter-spacing: 0.1em;
        font-size: 2vw;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
}

html.dark #clock {
    text-shadow: 0 0 20px rgba(189, 116, 116, 1),  0 0 20px rgba(10, 175, 230, 0);
}
</style>