---
import {getNextRaceData} from '../api/schedule'
const {season, round, Races: races} = await getNextRaceData();
const dateString = `${races[0].date} ${races[0].time}`
---

<next-race-info id="clock" data-time={dateString}>
    <p id="date">{races[0].date}</p>
    <p id="time">{races[0].time}</p>
    <!-- <p class="text">DIGITAL CLOCK with Vue.js</p> -->
</next-race-info>

<script src="./NextRaceInfo.js" is:inline></script>


<style>

p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    #time {
        letter-spacing: 0.05em;
        font-size: 5vw;
        padding: 5px 0;
    }
    #date {
        letter-spacing: 0.1em;
        font-size: 2vw;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
}

html.dark #clock {
    text-shadow: 0 0 20px rgba(189, 116, 116, 1),  0 0 20px rgba(10, 175, 230, 0);
}
</style>