
---
const {first, second, third} = Astro.props;
---
<div class="container podium">
    <div class="podium__item">
      <p class="podium__city">{second.name}</p>
      <img class="driver-img" src={second.image} alt={second.name} height="100px">
      <div class="podium__rank second">2</div>
    </div>
    <div class="podium__item">
      <p class="podium__city">{first.name}</p>
      <img class="driver-img" src={first.image} alt={first.name} height="100px">
      <div class="podium__rank first">
        <svg class="podium__number" viewBox="0 0 27.476 75.03" xmlns="http://www.w3.org/2000/svg">
        <g transform="matrix(1, 0, 0, 1, 214.957736, -43.117417)">
          <path class="st8" d="M -198.928 43.419 C -200.528 47.919 -203.528 51.819 -207.828 55.219 C -210.528 57.319 -213.028 58.819 -215.428 60.019 L -215.428 72.819 C -210.328 70.619 -205.628 67.819 -201.628 64.119 L -201.628 117.219 L -187.528 117.219 L -187.528 43.419 L -198.928 43.419 L -198.928 43.419 Z" style="fill: #000;"/>
        </g>
      </svg>
      </div>
    </div>
    <div class="podium__item">
      <p class="podium__city">{third.name}</p>
      <img class="driver-img" src={third.image} alt={third.name} height="100px">
      <div class="podium__rank third">3</div>
    </div>
</div>

<style>
  .container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.podium__item {
  width: 33%;
  max-width: 200px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.podium__city {
  text-align: center;
  padding: 0 0.5rem;
}

.podium__number {
  width: 27px;
  height: 75px;
}

.podium .first {
  min-height: 300px;
  background: rgb(255, 172, 37);
  background: linear-gradient(
    333deg,
    rgba(255, 172, 37, 1) 0%,
    rgba(254, 207, 51, 1) 13%,
    rgba(254, 224, 51, 1) 53%,
    rgba(255, 172, 37, 1) 100%
  );
}

.podium .second {
  min-height: 200px;
  background: linear-gradient(
    333deg,
    rgba(132, 132, 130, 1) 0%,
    rgba(169, 169, 169, 1) 13%,
    rgba(211, 211, 211, 1) 53%,
    rgba(245, 245, 245, 1) 100%
  );
}

.podium .third {
  min-height: 100px;
  background: linear-gradient(
    333deg,
    rgba(184, 115, 51, 1) 0%,
    rgba(208, 145, 86, 1) 13%,
    rgba(196, 145, 98, 1) 53%,
    rgba(184, 115, 51, 1) 100%
  );

}

.driver-img {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.driver-img:hover {
  transform: scale(2);
}

</style>